main {
   display: flex;
   margin-top: 2px;
}

.texto {
    width: 70%;
    margin-left: 15%;
    
}

#texto__campo {
    padding-bottom: 310px; 
    box-sizing: border-box;
    width: 600px;
    margin-top: 4px;
    margin-left: 50px;
    border: none;
    background-color: #F3F5FC;
    color: #0A3871; 
    font-size: 25px;
    top: 0; 
    left: 0;
    text-align: justify;
    overflow: hidden;
}

#texto__campo::placeholder {
    position: absolute;
    top: 0; 
    left: 0;
    margin-left: 20px;
    margin-top: 10px;
    color: #0A3871; 
    font-size: 25px;
}

.texto__botao--cript {
    background-color: #0A3871;
    color: white;
    cursor: pointer;
    width: 240px;
    height: 40px;
    margin-right: 15px;
    margin-left: 70px;
    border-radius: 24px;
    border: none;
}

.texto__botao--descript {
    background-color: #D8DFE8;
    color: #0A3871; 
    /* border-color: #0A3871;  */
    border: 1px solid rgb(85, 85, 192);
    cursor: pointer;
    width: 240px;
    height: 40px;
    border-radius: 24px;
}

.texto__orientacao {
    margin-left: 53px;
    color: #495057;
    font-size: 14px;
}